<launch>
    <arg name="start_mavros" default="true"/>
    <arg name="fcu_url" default="serial:///dev/ttyACM0:57600?ids=255,240"/>
    <arg name="wait_for_fcu_connection" default=""/>
    <arg name="set_flight_mode_on_start" default=""/>
    <arg name="auto_arm" default=""/>

    <include if="$(arg start_mavros)" file="$(find mavros)/launch/apm.launch">
        <arg name="fcu_url" value="$(arg fcu_url)"/>
    </include>

    <node pkg="scheduler" type="scheduler_launch.py" name="launch_manager_node" output="screen"/>

    <node pkg="scheduler" type="scheduler_node" name="scheduler_node" output="screen">
        <rosparam command="load" file="$(find scheduler)/config/docking_scheduler.yaml"/>

        <param
            if="$(eval arg('wait_for_fcu_connection') != '')"
            name="wait_for_fcu_connection"
            value="$(arg wait_for_fcu_connection)"
            type="bool"/>

        <param
            if="$(eval arg('set_flight_mode_on_start') != '')"
            name="set_flight_mode_on_start"
            value="$(arg set_flight_mode_on_start)"
            type="bool"/>

        <param
            if="$(eval arg('auto_arm') != '')"
            name="auto_arm"
            value="$(arg auto_arm)"
            type="bool"/>
    </node>
</launch>
