<launch>
  <arg name="blue_light_topic" default="/docking/blue_light"/>
  <arg name="dock_pose_topic" default="/docking/dock_pose"/>
  <arg name="apriltag_topic" default="/docking/apriltag"/>
  <arg name="light_json_file" default="$(find scheduler)/../../runtime/docking/pose_data.json"/>
  <arg name="apriltag_json_file" default="$(find scheduler)/../../runtime/docking/apriltag_pose.json"/>
  <arg name="poll_rate_hz" default="20.0"/>
  <arg name="start_light_detector" default="true"/>
  <arg name="start_apriltag_detector" default="true"/>
  <arg name="light_camera_index" default="1"/>
  <arg name="apriltag_camera_index" default="0"/>
  <arg name="show_debug_windows" default="false"/>

  <node
    if="$(arg start_light_detector)"
    pkg="scheduler"
    type="docking_light_strip_detector.py"
    name="docking_light_strip_detector"
    output="screen">
    <param name="camera_index" value="$(arg light_camera_index)"/>
    <param name="json_output_file" value="$(arg light_json_file)"/>
    <param name="show_debug_windows" value="$(arg show_debug_windows)"/>
  </node>

  <node
    if="$(arg start_apriltag_detector)"
    pkg="scheduler"
    type="docking_apriltag_detector.py"
    name="docking_apriltag_detector"
    output="screen">
    <param name="camera_index" value="$(arg apriltag_camera_index)"/>
    <param name="json_output_file" value="$(arg apriltag_json_file)"/>
    <param name="show_debug_windows" value="$(arg show_debug_windows)"/>
  </node>

  <node
    pkg="scheduler"
    type="external_docking_json_bridge.py"
    name="docking_json_bridge"
    output="screen">
    <param name="blue_light_topic" value="$(arg blue_light_topic)"/>
    <param name="dock_pose_topic" value="$(arg dock_pose_topic)"/>
    <param name="apriltag_topic" value="$(arg apriltag_topic)"/>
    <param name="light_json_file" value="$(arg light_json_file)"/>
    <param name="apriltag_json_file" value="$(arg apriltag_json_file)"/>
    <param name="poll_rate_hz" value="$(arg poll_rate_hz)"/>
  </node>
</launch>
