<launch>
  <arg name="blue_light_topic" default="/docking/blue_light"/>
  <arg name="dock_pose_topic" default="/docking/dock_pose"/>
  <arg name="apriltag_topic" default="/docking/apriltag"/>
  <arg name="light_json_file" default="$(find scheduler)/../../runtime/docking/pose_data.jsonl"/>
  <arg name="apriltag_json_file" default="$(find scheduler)/../../runtime/docking/apriltag_pose.jsonl"/>
  <arg name="start_light_detector" default="true"/>
  <arg name="start_apriltag_detector" default="true"/>
  <arg name="camera_index" default="0"/>
  <arg name="frame_width" default="0"/>
  <arg name="frame_height" default="0"/>
  <arg name="fx" default="838.164"/>
  <arg name="fy" default="838.263"/>
  <arg name="cx" default="692.584"/>
  <arg name="cy" default="502.072"/>
  <arg name="threshold" default="240"/>
  <arg name="kernel_size" default="7"/>
  <arg name="epsilon" default="0.02"/>
  <arg name="use_left_half" default="false"/>
  <arg name="processed_image_topic" default="/docking/vision/image"/>
  <arg name="processed_image_frame_id" default="docking_vision"/>
  <arg name="publish_processed_stream" default="true"/>
  <arg name="publish_compressed_stream" default="true"/>
  <arg name="show_debug_windows" default="false"/>
  <arg name="publish_topics" default="true"/>
  <arg name="write_json" default="false"/>

  <node
    pkg="scheduler"
    type="docking_vision_detector.py"
    name="docking_vision_detector"
    output="screen">
    <param name="camera_index" value="$(arg camera_index)"/>
    <param name="frame_width" value="$(arg frame_width)"/>
    <param name="frame_height" value="$(arg frame_height)"/>
    <param name="fx" value="$(arg fx)"/>
    <param name="fy" value="$(arg fy)"/>
    <param name="cx" value="$(arg cx)"/>
    <param name="cy" value="$(arg cy)"/>
    <param name="threshold" value="$(arg threshold)"/>
    <param name="kernel_size" value="$(arg kernel_size)"/>
    <param name="epsilon" value="$(arg epsilon)"/>
    <param name="use_left_half" value="$(arg use_left_half)"/>
    <param name="processed_image_topic" value="$(arg processed_image_topic)"/>
    <param name="processed_image_frame_id" value="$(arg processed_image_frame_id)"/>
    <param name="publish_processed_stream" value="$(arg publish_processed_stream)"/>
    <param name="publish_compressed_stream" value="$(arg publish_compressed_stream)"/>
    <param name="enable_light" value="$(arg start_light_detector)"/>
    <param name="enable_apriltag" value="$(arg start_apriltag_detector)"/>
    <param name="light_json_file" value="$(arg light_json_file)"/>
    <param name="apriltag_json_file" value="$(arg apriltag_json_file)"/>
    <param name="write_json" value="$(arg write_json)"/>
    <param name="publish_topics" value="$(arg publish_topics)"/>
    <param name="blue_light_topic" value="$(arg blue_light_topic)"/>
    <param name="dock_pose_topic" value="$(arg dock_pose_topic)"/>
    <param name="apriltag_topic" value="$(arg apriltag_topic)"/>
    <param name="show_debug_windows" value="$(arg show_debug_windows)"/>
  </node>
</launch>
