<launch>
  <arg name="fcu_url" default="serial:///dev/ttyS6:115200?ids=255,240"/>
  <arg name="start_pipeline_logger" default="true"/>
  <arg name="pipeline_log_directory" default="$(env HOME)/scheduler_logs/pipeline_inspection"/>

  <include file="$(find mavros)/launch/apm.launch">
    <arg name="fcu_url" value="$(arg fcu_url)"/>
  </include>

  <node pkg="scheduler" type="scheduler_launch.py" name="launch_manager_node" output="screen"/>

  <include if="$(arg start_pipeline_logger)" file="$(find scheduler)/launch/pipeline_logging.launch">
    <arg name="enabled" value="true"/>
    <arg name="log_directory" value="$(arg pipeline_log_directory)"/>
  </include>

  <node pkg="scheduler" type="scheduler_node" name="scheduler_node" output="screen">
    <rosparam command="load" file="$(find scheduler)/config/pipeline_inspection_scheduler.yaml"/>
  </node>
</launch>
