<launch>
  <include file="$(find mavros)/launch/apm.launch"/>

  <node pkg="scheduler" type="scheduler_launch.py" name="launch_manager_node" output="screen"/>
  <node pkg="scheduler" type="scheduler_node" name="scheduler_node" output="screen">
    <rosparam command="load" file="$(find scheduler)/config/pipeline_inspection_scheduler.yaml"/>
  </node>
</launch>
